<div class="center-between">
	<a href="<%= root_path %>"><button class="margin-1">Home</button></a>
	<button class="margin-1" onclick="generateExcel()">Export to Excel</button> 
	<!-- <button type="button" class="margin-1 btn saveAsExcel">Export to Excel</button> -->
</div>

<table id="table_with_data">
	<tbody>
		<tr class="header">
			<th>Company Name</th>
			<th>Symbol</th>
			<th>Price</th>
			<th>Moving Average 1yr</th>
			<th>Net Income</th>
			<th>Total Assets</th>
			<th>Total Liabilities</th>
			<th>Total Debt</th>
			<th>Debt to Assets</th>
			<th>Gross Profit</th>
            <th>P/E Ratio</th>
			<th>Description</th>
			<th>Industry</th>
			<th>Primary Exchange</th>
		</tr>
		<% @stocks.each do |stock| %>
		<tr>
			<td><%= stock.company_name %></td>
			<td><%= stock.symbol %></td>
			<td><%= stock.latest_price %></td>
			<td><%= stock.moving_average ? (sprintf "%d%%", stock.moving_average) : nil %></td>
			<td><%= stock.net_income ? stock.net_income.to_i : nil %></td>
			<td><%= stock.total_assets ? stock.total_assets.to_i : nil %></td>
			<td><%= stock.total_liabilities ? stock.total_liabilities.to_i : nil  %></td>
			<td><%= stock.total_debt ? stock.total_debt.to_i : nil %></td>
			<td><%= stock.debt_to_assets ? (sprintf "%d%%", stock.debt_to_assets) : nil %></td>
			<td><%= stock.gross_profit ? stock.gross_profit.to_i : nil  %></td>
			<td><%= stock.pe_ratio ? stock.pe_ratio : nil %></td>
			<td><%= stock.description %></td>
			<td><%= stock.industry %></td>
			<td><%= stock.primary_exchange %></td>
		</tr>
		<% end %>
	</tbody>
</table>


