<div class="center-between">
	<a href="<%= root_path %>"><button class="margin-1">Home</button></a>
	<button class="margin-1" onclick="generateExcel()">Export to Excel</button> 
	<!-- <button type="button" class="margin-1 btn saveAsExcel">Export to Excel</button> -->
</div>

<table id="table_with_data">
	<tbody>
		<tr class="header">
			<th>Ticker</th>
			<th>Company name</th>
			<th>Latest price</th>
			<th>Gross profit</th>
			<th>Marketcap</th>
			<th>Total debt</th>
			<th>Debt to equity</th>
			<th>Day50 moving avg</th>
			<th>Day200 moving avg</th>
			<th>Year5 changepercent</th>
			<th>Year2 changepercent</th>
			<th>Year1 changepercent</th>
			<th>Max changepercent</th>
			<th>Week52high</th>
			<th>Dividend yield</th>
			<th>Pe ratio</th>
			<th>Revenue</th>
			<th>Profit margin</th>
			<th>Enterprise value</th>
			<th>Ev to sales</th>
			<th>Ev to revenue</th>
			<th>Price to sales</th>
			<th>Price to book</th>
			<th>Ebitda</th>
			<th>Put call ratio</th>
		</tr>
		<% @stocks.each do |stock| %>
		<tr>
			<td><%= stock.ticker %></td>
			<td><%= stock.company_name %></td>
			<td><%= stock.latest_price %></td>
			<td><%= stock.gross_profit %></td>
			<td><%= stock.marketcap %></td>
			<td><%= stock.total_debt %></td>
			<td><%= stock.debt_to_equity %></td>
			<td><%= stock.day50_moving_avg %></td>
			<td><%= stock.day200_moving_avg %></td>
			<td><%= stock.year5_changepercent %></td>
			<td><%= stock.year2_changepercent %></td>
			<td><%= stock.year1_changepercent %></td>
			<td><%= stock.max_changepercent %></td>
			<td><%= stock.week52high %></td>
			<td><%= stock.dividend_yield %></td>
			<td><%= stock.pe_ratio %></td>
			<td><%= stock.revenue %></td>
			<td><%= stock.profit_margin %></td>
			<td><%= stock.enterprise_value %></td>
			<td><%= stock.ev_to_sales %></td>
			<td><%= stock.ev_to_revenue %></td>
			<td><%= stock.price_to_sales %></td>
			<td><%= stock.price_to_book %></td>
			<td><%= stock.ebitda %></td>
			<td><%= stock.put_call_ratio %></td>
		</tr>
		<% end %>
	</tbody>
</table>
