<div class="center-between">
	<a href="<%=root_path%>"><button class="margin-1">Home</button></a>
	<button class="margin-1" onclick="generateExcel()">Export to Excel</button>
</div>

<table id="table_with_data">
	<tbody>
		<tr class="header">
			<th>Country Name</th>
			<th>Inflation Rate</th>
			<th>Corporate Tax Rate</th>
			<th>Interest Rate</th>
			<th>Unemployment Rate</th>
			<th>Personal Income Tax</th>
			<th>GDP per Capita</th>
			<th>Government Debt to GDP</th>
			<th>BanksBalance Sheet</th>
			<th>Central Bank Balance Sheet</th>
			<th>Government Budget</th>
		</tr>
		<% @countries.each do |country| %>
		<tr>
			<td><%= country.parameter %></td>
			<td><%= country.inflation %></td>
			<td><%= country.corporate_tax %></td>
			<td><%= country.interest_rate %></td>
			<td><%= country.unemployment %></td>
			<td><%= country.income_tax %></td>
			<td><%= country.gdp %></td>
			<td><%= country.gov_debt_to_gdp %></td>
			<td><%= country.bank_balance_sheet %></td>
			<td><%= country.central_bank %></td>
			<td><%= country.budget %></td>
		</tr>
		<% end %>
	</tbody>
</table>